[submodule "packages/hashlips_art_engine"]
	path = packages/huxlxy-airdrop/hashlips_art_engine
	url = git@github.com:HashLips/hashlips_art_engine.git
	ignore = dirty

[submodule "packages/foundry-huxlxy-contracts/lib/solmate"]
	path = packages/foundry-huxlxy-contracts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "packages/foundry-huxlxy-contracts/lib/openzeppelin-contracts"]
	path = packages/foundry-huxlxy-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
